.macaroons__advantage-number {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  font-size: 60px;
  font-family: Gilroy-Extrabold, sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 13px;
  transition: .2s linear;
}

.macaroons__advantage-number-bottom {
  line-height: 70%;
}

.macaroons__advantage-head {
  font-size: 20px;
  font-family: Gilroy-Extrabold, sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 20px;
}

.macaroons__advantage-text {
  font-size: 15px;
  font-family: Gilroy-Medium, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

.macaroons__advantage:hover .macaroons__advantage-number {
  background-color: #eba8b1;
  color: #821328;
}


@media screen and (max-width: 1096px) {
  .macaroons__advantage-number {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 510px) {
  .macaroons__advantage-text {
    font-size: 13px;
    line-height: 1.385;
  }
}

@media screen and (max-width: 426px) {
  .macaroons__advantage-head {
    font-size: 18px;
  }

  .macaroons__advantage-text {
    font-size: 13px;
  }
}
