<div class="products__item">
  <div class="products__item-image">
    <img [src]="'assets/images/products/' + product.image" alt="Macaroon{{index+1}}">
  </div>
  <p class="products__item-title">{{ product.title }}</p>
  <div class="products__item-select">
    <div class="products__item-list">
      <div class="products__item-quantity">{{ product.quantity }} шт.</div>
      <div class="products__item-price">{{ product.price }} руб</div>
    </div>
    <button class="btn products__btn" (click)="addProductToCart()">{{ product.order }}</button>
  </div>
</div>
