/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}


@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/Tavolga Free.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Extrabold;
  src: url("./assets/fonts/Gilroy-Extrabold.ttf");
}

body {
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(0deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  cursor: pointer;
  box-sizing: border-box;
  transition: .2s linear;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}


@media screen and (max-width: 1154px) {
  .container {
    padding: 0 15px 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 728px;
  }
}
